html, body {
    color:white;
    background-image: url('https://images-cdn.ubuy.co.in/634d06a9162ae7225245c1a3-ltlyh-7x5ft-black-brick-wall-backdrop.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    padding: 0;

}

.title {
  margin-top: 0em;
  text-align: center;
  font-size: 9em;
  font-family: "Neonderthaw", sans-serif;
}

.neon-text {
  animation: neonEffect 6s ease-in-out infinite alternate;
}

#subtitle {
  color: rgb(255, 255, 255);
  background: linear-gradient(to left, rgba(31, 23, 23, 0.8) 80%, rgb(0, 0, 0) 100%);
  border: 10px groove rgb(27, 27, 27);
}

@keyframes neonEffect {
  0% {
      color: #c42c87; 
      text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 20px #ff00ff; 
  }
  50% {
      color: pink;
  }
  100% {
      color: #25fee8; 
      text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 20px #00ff00; 
  }
}

.barber {
  padding-left: 1em;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  width: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to left, rgba(138, 135, 135, 0.8) 0%, rgb(0, 0, 0) 100%);
  border: 10px groove rgb(27, 27, 27);
}


.customer_form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.customer_form button {
  width: fit-content;
  margin: 0 auto;
}

.appointment_form button {
  width: fit-content;
  margin: 0 auto;
}

.appointment_form {
  display: flex;
  flex-direction: column;
  text-align: center;
}


.link {
  text-decoration: none;
  color: inherit;
}

.header_link {
  text-decoration: none;
}

.haircut {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.hair-card {
  width: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to left, rgba(138, 135, 135, 0.8) 0%, rgb(0, 0, 0) 100%);
  border: 10px groove rgb(27, 27, 27);
}

.image-container {
  width: 300px;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Hamburger Menu Styles */
.header {
  position: relative; /* Make the header a positioned container for absolute positioning of the menu */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent; /* Remove the black background */
  color: white;
}

.title {
  flex: 1; /* Allow the title to take up remaining space */
  text-align: center; /* Center the title */
}

.menu_icon {
  cursor: pointer;
  position: absolute;
  top: 10px; /* Adjust the distance from the top edge */
  right: 20px; /* Adjust the distance from the right edge */
}

.menu {
  position: absolute;
  top: 50px; /* Adjust the distance from the top edge */
  right: 20px; /* Adjust the distance from the right edge */
  background-color: #333;
  color: white;
  padding: 10px;
  display: none;
}

.menu_open {
  display: block;
}


.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  padding: 5px 0;
}

.menu ul li a {
  color: white;
  text-decoration: none;
}


.customer-table {
  border-collapse: collapse;
  background: grey;
  width: 100%;
}

.customer-table th,
.customer-table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.customer-table th {
  background-color: #000000;
}

.customer-table td button {
  margin-right: 5px;
}

.customer_form {
  width: 100%;
}

.customer_form table {
  width: 100%;
}

.customer_form label {
  display: block;
  margin-bottom: 5px;
}

.customer_form input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; /* Use the full height of the viewport */
}
.customer_form button {
  margin: 0 auto; /* Center the button horizontally */
  display: block; /* Ensure the button takes up full width */
}

.customer_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.appointment_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto; /* Center the form horizontally */
  width: 100%; /* Set the form width */
}


.appointment_form table {
  width: 20%;
  border-collapse: collapse; /* Collapse the borders between table cells */
}

.appointment_form td {
  padding: 5px; /* Reduce the padding around table cells */
}

.appointment_form label {
  display: block;
  margin-bottom: 5px;
}

.appointment_form input,
.appointment_form select {
  width: 77%;
  padding: 4px;
  box-sizing: border-box;
}

.appointment_form button {
  margin-top: 10px; /* Add some top margin to the button */
  width: 30%;
}

